<%- include('common/header') -%>
   <link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
   <%- include('common/header-banner') -%>

      <!-- ============== Section1 Start =============== -->
      <section class="main-content about-content2 py-3">
         <div class="container">
            <div class="main_box basic_company_profile">
               <div class="basic_info_of_company">
                  <div class="row align-items-center">
                     <div class="col-md-3">
                        <div class="company_logo">
                           <a href="#"><img src="/front-end/images/feature-logo1.png" alt="samsung"></a>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="company_details">
                           <div class="row">
                              <div class="col-sm-12">
                                 <h2 class="company_name">Company Name</h2>
                              </div>
                              <div class="col-sm-6">
                                 <p class="common_style"><i class="fas fa-envelope"></i><a
                                       href="mailto:johndoe12@gmail.com">johndoe12@gmail.com</a></p>
                              </div>
                              <div class="col-sm-6">
                                 <p class="common_style"><i class="fas fa-mobile"></i><a
                                       href="tel:+9876543210">+9876543210</a></p>
                              </div>
                              <div class="col-sm-12">
                                 <p class="common_style"><i class="fas fa-map-marker-alt"></i> EE 91, EE Block, Sector
                                    II, Bidhannagar, Kolkata, West Bengal 700091</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="overall_score">
                           <div class="button_group">
                              <a class="free" href="#">Free</a>
                              <a class="switch_to_premium" href="#">switch to premium</a>
                           </div>
                           <div class="score_info">
                              <div class="d-flex align-items-center mb-2">
                                 <div class="review_count">4.5</div>
                                 <div class="emoji_respective_review">
                                    <img src="/front-end/images/4-5.gif" alt="">
                                 </div>
                              </div>
                              <p>Total Review 1,117</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="company_profile_navigation">
                  <ul>
                     <li class="active"><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                     <li><a href="#"><i class="fas fa-envelope"></i> My Reviews</a></li>
                     <li><a href="#"><i class="fas fa-user-tie"></i> Profile</a></li>
                     <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                     <li><a href="#"><i class="fas fa-lock"></i> Change Password</a></li>
                     <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                  </ul>
               </div>
               <div class="analytics_data analytics_data_row1">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="total_reviews">
                           <p>Total Reviews</p>
                           <div class="count">405</div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="total_reviews total_replied">
                           <p>Total Replied</p>
                           <div class="count">200</div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="positive_reviews">
                           <h4>positive<br>reviews</h4>
                           <div class="count">125</div>
                        </div>
                        <div class="negative_reviews">
                           <h4>negative<br>reviews</h4>
                           <div class="count">125</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="analytics_data analytics_data_row2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="total_reviews">
                           <p>Total Reviews</p>
                           <div class="count">405</div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="total_reviews total_replied">
                           <p>Total Replied</p>
                           <div class="count">200</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section6 End =============== -->

      <%- include('common/footer') -%>