<%- include('common/header') -%>
<link href="/front-end/css/company-listing-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="company-listing-left">
                    <h4>Sub Categories</h4>
                    <ul>
                        <li class="active"><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Animal Health</a></li>
                        <li><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Animal Parks & Zoo</a></li>
                        <li><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Cats & Dogs</a></li>
                        <li><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Horses & Riding</a></li>
                        <li><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Pet Services</a></li>
                        <li><a href="#"><i class="fa-regular fa-arrow-right-long"></i>Pet Stores</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="company-listing-right">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============== Section1 End =============== -->
<%- include('common/footer') -%>        