<%- include('common/header') -%>
    <link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
    <%- include('common/header-banner') -%>

        <!-- ============== Section1 Start =============== -->
        <section class="main-content premium_company_profile pr py-3">
            <div class="container">
                <div class="basic_info_of_company">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="company_logo">
                            <a href="#"><img src="/front-end/images/feature-logo1.png" alt="samsung"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="company_details">
                            <div class="row">
                            <div class="col-sm-12">
                                <h2 class="company_name">Company Name</h2>
                            </div>
                            <div class="col-sm-6">
                                <p class="common_style"><i class="fas fa-envelope"></i><a
                                        href="mailto:johndoe12@gmail.com">johndoe12@gmail.com</a></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="common_style"><i class="fas fa-mobile"></i><a
                                        href="tel:+9876543210">+9876543210</a></p>
                            </div>
                            <div class="col-sm-12">
                                <p class="common_style"><i class="fas fa-map-marker-alt"></i> EE 91, EE Block, Sector II, Bidhannagar, Kolkata, West Bengal 700091</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="overall_score">
                            <div class="button_group">
                            <a class="free" href="#">Free</a>
                            <a class="switch_to_premium" href="#">switch to premium</a>
                            </div>
                            <div class="score_info">
                            <div class="d-flex align-items-center mb-2">
                                <div class="review_count">4.5</div>
                                <div class="emoji_respective_review">
                                    <img src="/front-end/images/4-5.gif" alt="">
                                </div>
                            </div>
                            <p>Total Review 1,117</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="company_profile_navigation">
                    <ul>
                        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                        <li class="active"><a href="#"><i class="fas fa-envelope"></i> My Reviews</a></li>
                        <li>
                            <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
                            <ul>
                                <li><a href="#">User Profile</a></li>
                                <li><a href="#">Company Profile</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fas fa-lock"></i> Change Password</a></li>
                        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </div>
                <div class="all_review_listing_for_company">
                    <div class="table-responsive">
                        <table class="table table-hover custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">Date & Time</th>
                                    <th scope="col">Comment</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Acticon</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-success">4.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-danger">0.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>&nbsp;</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-warning">3.0</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-danger">0.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-success">4.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-danger">0.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>&nbsp;</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-warning">3.0</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                                <tr>
                                    <td>24/08/2023 <small>12:45 P.M</small></td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                    <td><span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span> <span class="badge badge-secondary">Warning</span></td>
                                    <td><span class="badge badge-danger">0.5</span></td>
                                    <td><a class="rply_btn" href="#">Replay</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
            </div>
        </section>
        <!-- ============== Section6 End =============== -->
        <%- include('common/footer') -%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" />

        <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
            <script>
                jQuery(function ($) {
                    $(document).ready(() => {
                        $('.table').DataTable();
                    });
                });
            </script>