<%- include('common/header') -%>
<link href="/front-end/css/contact-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content contact-form-content">
    <div class="container">
      <div class="envelope-wrap">
          <div class="envelope-inner-from">
            <h3 class="text-center">ANY QUESTION / FEEDBACK</h3>
            <form>
                <div class="row">
                  <div class="col-sm-12">
                      <!-- <div class="custom-form">
                        <label><span>Name</span></label>
                        <input type="text" class="form-control" placeholder="Tell me who are you" name="" required>
                      </div>
                      <div class="custom-form">
                        <label><span>Email</span></label>
                        <input type="email" class="form-control" placeholder="May I know your Email id." name="" required>
                      </div> -->
                      <div class="custom-form">
                        <label><span>Phone Number</span></label>
                        <input type="tel" class="form-control" placeholder="How do I speak with you" name="" required>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="custom-form">
                        <label><span>Message</span></label>
                        <textarea type="text" rows="5" class="form-control" placeholder="Tell us what do you want to say" name="" required></textarea>
                      </div>
                      <div class="env-btn">
                        <input type="submit" value="Send it to us" class="btn-default btn-warning w-100">
                      </div>
                  </div>
                </div>
            </form>
          </div>
          <div class="envelope-inner-social-info text-center">
            <div class="app-info">
                  <a href="#"><img src="/front-end/images/g-play.png" alt="img" width="183" height="56"></a>
                  <a href="#"><img src="/front-end/images/app-store.png" alt="img" width="178" height="56"></a>
                </div>
                <div class="social-icons">
                  <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div class="env-contact-info">
                  <div class="row justify-content-center">
                      <div class="col-sm-4 my-auto">
                        <div class="env-contact-info-in">
                            <span><i class="fa-brands fa-whatsapp"></i></span>
                            <a href="tel:012-345-6789">012-345-6789</a>
                        </div>
                      </div>
                      <div class="col-sm-4 my-auto">
                        <div class="env-contact-info-in">
                            <span><i class="fa-solid fa-mobile-screen-button"></i></span>
                            <a href="tel:012-345-6789">012-345-6789</a>
                        </div>
                      </div>
                      <div class="col-sm-4 my-auto">
                        <div class="env-contact-info-in">
                            <span><i class="fa-solid fa-envelope"></i></span>
                            <a href="mailto:Sales@CEchoes.com">Sales@CEchoes.com</a>
                        </div>
                      </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
    <div class="overlay-object5" style="top: 5px;"><img src="/front-end/images/overlay-object7.png" alt="img" width="148" height="332" loading="lazy"></div>
</section>
<!-- ============== Section1 End =============== -->

<!-- ============== Section2 Start =============== -->
<section class="main-content bottom-main-content map-content">
    <div class="container">
      <picture>
        <source media="(max-width:575px)" srcset="/front-end/images/map-img-mbl-screen.png" width="535" height="323">
        <source media="(max-width:767px)" srcset="/front-end/images/map-img-tab-screen.png" width="603" height="364">
        <img src="/front-end/images/map-img.png" alt="image" loading="lazy" width="1215" height="734">
      </picture>
    </div>
    <div class="overlay-object5"><img src="/front-end/images/overlay-object5.png" alt="img" width="118" height="315" loading="lazy"></div>
    <div class="overlay-object6"><img src="/front-end/images/overlay-object6.png" alt="img" width="81" height="215" loading="lazy"></div>
</section>
<!-- ============== Section2 End =============== -->
<%- include('common/footer') -%>