<%- include('common/header') -%>
<link href="/front-end/css/survey-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>
<section class="main-content bottom-main-content">
    <div class="survey-content">
       <div class="container">
        <div class="create-survey-field">
            <div class="row">
                <div class="col-md-12">
                   <div class="custom-form">
                         <label><span>Enter your question</span><span style="color: red;">*</span></label>
                         <textarea type="text" class="form-control" name="" required=""></textarea>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="custom-form">
                         <label><span>Expire date</span><span style="color: red;">*</span></label>
                         <input type="date" class="form-control" name="expire_date" required="">
                   </div>
                </div>
                <div class="col-md-12">
                  <div class="custom-form">
                     <label><span>Q1</span></label>
                     <input type="text" class="form-control" name="expire_date" required="">
                    </div>
               </div>
               <div class="col-md-12">
                  <div class="custom-form">
                     <span class="fw-bold d-inline-block me-2">Select Type:</span>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label">Textarea</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label">Radio</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
                        <label class="form-check-label">Checkbox</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
                        <label class="form-check-label">Rating</label>
                      </div>
                  </div>
               </div>
             </div>
             <div class="create-survey-field-repater">
                  <div class="custom-form">
                     <label><span>Question?</span></label>
                     <textarea type="text" class="form-control" name="" required=""></textarea>
                  </div>
                  <div class="custom-form">
                     <p><strong>Question?</strong></p>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label">
                          Default checkbox
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label">
                          Default checkbox
                        </label>
                      </div>
                      
                  </div>
              </div>
           <a href="#" class="btn-default btn-warning add-qut">Add Question</a>
           
        </div>
       </div>
     </div>
</section> 

<%- include('common/footer') -%>  