<%- include('common/header') -%>
<link href="/front-end/css/discussion-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content bottom-main-content">
  <div class="discussion-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <div class="discussions-left">
                <div class="text-end">
                <span class="language-select">
                    <span class="lang-change">Everything</span> <a href="" class="lang-arw"><i class="fa-solid fa-sort"></i></a>
                    <div class="lang-dropdown">
                        <ul class="p-0 m-0">
                        <li><a href="">Everything</a></li>
                        <li><a href="">Top</a></li>
                        <li><a href="">New</a></li>
                        </ul>
                    </div>
                </span>  
                </div>
                <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Recent</li>
                    <li>Top</li>
                    <li>Newest</li>
                    <li>Eldest</li>
                    <li>Popular</li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab-content-wrap">
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-md-5 mt-4">
                        <a href="#" class="btn-default btn-warning discussion-load-btn">Load More</a>
                    </div> -->
                    </div>
                    <div class="tab-content-wrap">
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-md-5 mt-4">
                        <a href="#" class="btn-default btn-warning discussion-load-btn">Load More</a>
                    </div> -->
                    </div>
                    <div class="tab-content-wrap">
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-md-5 mt-4">
                        <a href="#" class="btn-default btn-warning discussion-load-btn">Load More</a>
                    </div> -->
                    </div>
                    <div class="tab-content-wrap">
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-md-5 mt-4">
                        <a href="#" class="btn-default btn-warning discussion-load-btn">Load More</a>
                    </div> -->
                    </div>
                    <div class="tab-content-wrap">
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <div class="discussion-review-panel">
                        <div class="discussion-user-img">
                        <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                        </div>
                        <div class="discussion-user-info">
                        <h4>Lorem Ipsum</h4>
                        <p>Created 5 days ago by Lorem Ipsum</p>
                        </div>
                        <div class="dis-comment-views">
                        <a href="#">29 Comments</a>
                        <a href="#">100views</a>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-md-5 mt-4">
                        <a href="#" class="btn-default btn-warning discussion-load-btn">Load More</a>
                    </div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="discussions-right mt-md-0 mt-4">
                <div class="search-area position-relative">
                    <form>
                        <input type="text" class="form-control" placeholder="Search" required="">
                    </form>
                    <input type="submit" value="Search">
                    <div class="autofield-dropdown">
                        <ul class="p-0 m-0">
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        <li><a href="#">Nunc non posuere justo erat semper enim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="discussions-right-panel">
                <h4>Popular Discussions</h4>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    78
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    50
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    33
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    42
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    12
                    </div>
                </div>
                </div>
                <div class="discussions-right-panel">
                <h4>Popular Showcase</h4>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    78
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    50
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    33
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    42
                    </div>
                </div>
                <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                    <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                    12
                    </div>
                </div>
                </div>
                <div class="discussions-right-panel">
                    <h4>New Showcase</h4>
                    <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                        <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                        78
                    </div>
                    </div>
                    <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                        <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                        50
                    </div>
                    </div>
                    <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                        <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                        33
                    </div>
                    </div>
                    <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                        <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                        42
                    </div>
                    </div>
                    <div class="dis-right-panel-item">
                    <div class="dis-r-panel-item-left">
                        <a href="#"><i class="fa-regular fa-arrow-right-long"></i>Lorem Ipsum</a> 
                    </div>
                    <div class="dis-r-panel-item-right">
                        12
                    </div>
                    </div>
                </div>
                <div class="discussions-right-panel">
                    <h4>Popular Tags</h4>
                        <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a> <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a> <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a> <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a> <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a> <a href="#" class="btn-default btn-warning pop-tag-btn">Lorem Ipsum</a>
                </div>
                <div class="start-a-discussion-btn text-center">
                    <a href="http://localhost:5000/discussion-details" class="btn-default btn-dark"><i class="fa-solid fa-pen-to-square"></i> Start A Discussion</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
  </section>

<!-- ============== Section1 End =============== -->

<%- include('common/footer') -%>   