<%- include('common/header') -%>
<link href="/front-end/css/discussion-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content bottom-main-content">
    <div class="discussion-page-content">
       <div class="container">
          <h2 class="inner-main-head">Lorem Ipsum</h2>
          <a href="#" class="btn-default btn-warning dis-details-top-btn">Lorem Ipsum</a>
          <a href="#" class="btn-default btn-warning dis-details-top-btn">Lorem Ipsum</a>
          <div class="row">
             <div class="col-md-9">
                <div class="discussion-details-left">
                   <div class="discussion-details-panel">
                      <div class="discussion-details-user-img">
                         <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                      </div>
                      <div class="discussion-details-user-info">
                         <h4>Lorem Ipsum <small>23 August, 2023</small></h4>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                      </div>
                      <div class="contribute-discussion">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#disscussionmodal"><i class="fa-solid fa-messages"></i> Contribute to this discussion?</a>
                       </div>
                       <div class="write-discussion-field">
                        <textarea rows="5" class="form-control" placeholder="Write a comment" id="discussiontext"></textarea>
                       </div>
                   </div>
                   
                   <div class="discussion-similar-thread">
                      <h3>Similar threads</h3>
                      <div class="discussion-review-panel">
                         <div class="discussion-user-img">
                            <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                         </div>
                         <div class="discussion-user-info">
                            <h4>Lorem Ipsum</h4>
                            <p>Created 5 days ago by Lorem Ipsum</p>
                         </div>
                         <div class="dis-comment-views">
                            <a href="#">29 Comments</a>
                            <a href="#">100views</a>
                         </div>
                      </div>
                      <div class="discussion-review-panel">
                         <div class="discussion-user-img">
                            <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                         </div>
                         <div class="discussion-user-info">
                            <h4>Lorem Ipsum</h4>
                            <p>Created 5 days ago by Lorem Ipsum</p>
                         </div>
                         <div class="dis-comment-views">
                            <a href="#">29 Comments</a>
                            <a href="#">100views</a>
                         </div>
                      </div>
                      <div class="discussion-review-panel">
                         <div class="discussion-user-img">
                            <img src="../front-end/images/user-img.jpg" alt="img" width="60" height="60">
                         </div>
                         <div class="discussion-user-info">
                            <h4>Lorem Ipsum</h4>
                            <p>Created 5 days ago by Lorem Ipsum</p>
                         </div>
                         <div class="dis-comment-views">
                            <a href="#">29 Comments</a>
                            <a href="#">100views</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- The Modal -->
<div class="modal fade" id="disscussionmodal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
  
      </div>
    </div>
  </div>
<!-- ============== Section1 End =============== -->

<%- include('common/footer') -%>   