<%- include('common/header') -%>
   <%- include('common/header-banner') -%>
<!-- ============== Banner Start =============== -->
<section class="main-banner home-banner">
    <div class="container">
      <div class="row flex-md-row-reverse">
        <div class="col-md-6 my-auto">
          <div class="banner-right" data-aos="fade-left">
            <div class="row">
              <div class="col-6">
                <div class="banner-mas-img banner-mas-img1">
                  <div class="banner-slider1">
                    <div class="item">
                      <img src="/1692007765250-IMG_20230722_185333.jpg" alt="image" loading="lazy" width="273"
                        height="354">
                    </div>
                    <div class="item">
                      <img src="/1692007710916-AVI_5265.jpg" alt="image" loading="lazy" width="273"
                        height="354">
                    </div>
                  </div>
                  <div class="banner-counter-tag">
                    Reviews
                    <div class="counter-text"><span class="count">90</span>+</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="banner-mas-img banner-mas-img2">
                  <div class="banner-slider2">
                    <div class="item">
                      <img src="/1692011396914-AVI_5275.jpg" alt="image" loading="lazy" width="262"
                        height="255">
                    </div>
                    <div class="item">
                      <img src="/1692011397468-1691684460818-3.jpg" alt="image" loading="lazy" width="262"
                        height="255">
                    </div>
                  </div>
                  <div class="banner-counter-tag">
                    Impression
                    <div class="counter-text"><span class="count">135</span>+</div>
                  </div>
                </div>
                <div class="banner-mas-img banner-mas-img2">
                  <div class="banner-slider3">
                    <div class="item">
                      <img src="/1691684510346-5.jpg" alt="image" loading="lazy" width="262"
                        height="255">
                    </div>
                    <div class="item">
                      <img src="/1691684510346-6.jpg" alt="image" loading="lazy" width="262"
                        height="255">
                    </div>
                  </div>
                  <div class="banner-counter-tag">
                    Total Users
                    <div class="counter-text"><span class="count">102</span>+</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="banner-left" data-aos="fade-right">
            <h1><span>Find</span> Companies/ <br>Category</h1>        
               <div class="search-area position-relative">
                <form>
                  <input type="text" class="form-control" id="search-input"
                    placeholder="Business/Institute/Establishment Name" required>
                </form>
                <input type="submit" value="Search">
                <div class="autofield-dropdown">
                </div>
              </div>
              <div class="banner-trending-scroll">
                <div class="like-dislike-tren-label">
                    <i class="fa-solid fa-thumbs-up"></i> Up Trending :
                </div>
                <div class="like-dislike-company-scroll">
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                        <ul>
                            <li><a href="#">Samsung</a></li>
                            <li><a href="#">Domino's Pizza</a></li>
                            <li><a href="#">Tata Steel</a></li>
                        </ul>
                    </marquee>
                </div>
              </div>
              <div class="banner-trending-scroll">
                <div class="like-dislike-tren-label">
                    <i class="fa-solid fa-thumbs-down"></i> Down Trending :
                </div>
                <div class="like-dislike-company-scroll">
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                        <ul>
                            <li><a href="#">Samsung</a></li>
                            <li><a href="#">Domino's Pizza</a></li>
                            <li><a href="#">Tata Steel</a></li>
                        </ul>
                    </marquee>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="custom-modal">
    <div class="custom-modal-content">
      <a href="#" class="custom-modal-close">
        <i class="fa-solid fa-circle-xmark"></i>
      </a>
      <h3 id="dynamic-search-title"></h3>
      <p id="dynamic-search-content"></p>
      <a id="dynamic-search-link" href="" class="btn-default btn-warning">View More</a>
    </div>
  </div>
<!-- ============== Banner End =============== -->

<!-- ============== Section1 Start =============== -->
<section class="main-content">
    <div class="container">
        <div class="default-content-area">
            Home
        </div>
    </div>
</section>
<!-- ============== Section2 End =============== -->

<%- include('common/footer') -%>   