<%- include('common/header') -%>
<link href="/front-end/css/myprofile-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content my-profile-content">
  <div class="container">
    <div class="my-profile-wrapper">
      <div class="row">
        <div class="col-md-5">
            <div class="profile-left-content">
               <div class="profile-img">
                <img src="/front-end/images/profile-img.jpg" alt="img" width="189" height="189">
                <input type="file" class="camera-icon">
               </div>
               <div class="myprofile-info text-center">
                <h4>John Doe</h4>
                <p><a href="mailto:johndoe12@gmail.com"><i class="fa-light fa-envelope"></i> johndoe12@gmail.com</a></p>
                <p><a href=""><i class="fa-light fa-location-dot"></i> Kolkata</a></p>
               </div> 
               <div class="about-me-area">
                <div class="about-me-head">
                    About Me
                </div>
                <div class="about-me-body">
                   <div class="about-me-body-inner">
                    <p>Donec sit amet hendrerit lectus. Etiam at vulputate metus. Maecenas enim risus, fermentum eu venenatis ut, tincidunt nec lectus. Aenean urna metus, imperdiet sit amet porttitor ac, lacinia in odio. Maecenas enim risus, fermentum eu venenatis ut, tincidunt nec lectus. Aenean urna metus, imperdiet sit amet porttitor ac, lacinia in odio.</p>
                   </div> 
                </div>
               </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="profile-right-content">

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============== Section1 End =============== -->

<%- include('common/footer') -%>

