<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 start =============== -->
<section class="main-content premium_company_profile bottom-main-content">
   <div class="container">
      <div class="main_box">
         <div class="basic_info_of_company">
            <div class="row align-items-center">
               <div class="col-md-4 col-lg-3">
                  <div class="company_logo">
                     <a href="/company/scwebtech"><img src="/1692865514410-1691580646587-1691402453374-1688989215485-logo.png" alt="SCWEBTECH"></a>
                     <div class="premium_logo"><i class="fas fa-crown"></i></div>
                  </div>
               </div>
               <div class="col-md-8 col-lg-6">
                  <div class="company_details">
                     <div class="row">
                        <div class="col-sm-12">
                           <h2 class="company_name">
                              SCWEBTECH
                           </h2>
                           <h4 class="tag_line">Simply Creative </h4>
                        </div>
                        <div class="col-sm-6">
                           <p class="common_style"><i class="fas fa-envelope"></i><a href="mailto:info@scwebtech.com">
                              info@scwebtech.com
                              </a>
                           </p>
                        </div>
                        <div class="col-sm-6">
                           <p class="common_style"><i class="fas fa-mobile"></i><a href="tel:9885458745">
                              9885458745
                              </a>
                           </p>
                        </div>
                        <div class="col-sm-12">
                           <p class="common_style"><i class="fas fa-map-marker-alt"></i>
                              Bengal Eco Intelligent Park Module number 19, 13th Floor, Plot No. 3, EM Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-3">
                  <div class="overall_score">
                     <div class="social_links">
                        <ul>
                        </ul>
                     </div>
                     <div class="score_info">
                        <div class="d-flex align-items-center mb-2">
                        </div>
                        <p>Total Reviews 7</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="company_profile_navigation">
            <ul>
               <li>
                  <a href="/company-dashboard/scwebtech"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
               </li>
               <li>
                  <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
                  <ul>
                     <li><a href="/myprofile">User Profile</a></li>
                     <li><a href="/company-profile-management/scwebtech">Company Profile</a></li>
                  </ul>
               </li>
               <li>
                  <a href="/company-review-listing/scwebtech"><i class="fas fa-envelope"></i> Reviews</a>
                  <ul>
                     <li><a href="/send-review-invitation/scwebtech">Send Review Invitation</a></li>
                  </ul>
               </li>
               <!-- <li><a href="/company-poll-listing/scwebtech"><i class="fas fa-poll"></i> Polls</a></li> -->
               <!-- <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li> -->
               <li><a href="/change-password"><i class="fas fa-lock"></i> Change Password</a></li>
               <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
               <li class="active"><a href="#"><i class="fa-solid fa-comment-exclamation"></i> Complaint</a></li>
            </ul>
         </div>
      </div>
      <div class="each_box update_basic_information all_review_listing_for_company">
         <div class="table-responsive">
            <table class="table table-hover custom-table">
               <thead>
                  <tr>
                     <th scope="col">Category</th>
                     <th scope="col">Sub-Category</th>
                     <th scope="col" style="width: 280px;">Product Name</th>
                     <th scope="col">Token</th>
                     <th scope="col">Status</th>
                     <th scope="col" style="width: 210px; text-align: center;">Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-success"><strong>Solved</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-success"><strong>Solved</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum</td>
                     <td>Lorem Ipsum is simply dummy text</td>
                     <td><strong>H559faf#</strong></td>
                     <td><span class="text-yellow"><strong>Pending</strong></span></td>
                     <td style="text-align: center;">
                        <span class="action-select">
                           <span class="action-change">Action</span> <a href="" class="action-arw"><i class="fa-solid fa-angle-down"></i></a>
                           <div class="action-dropdown">
                              <ul class="p-0 m-0">
                                 <li><a href="">Respond to customer with query</a></li>
                                 <li><a href="">Respond to customer & Close</a></li>
                                 <li><a href="">Escalate to next level</a></li>
                              </ul>
                           </div>
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>
<!-- ============== Section1 end =============== -->

<%- include('common/footer') -%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" />

<script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
   <script>
         jQuery(function ($) {
            $(document).ready(() => {
               $('.table').DataTable({
                     "order": [[ 4, "desc" ]]
               });
            });
         });
   </script>