<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ================ Section1 Start ======================= -->
<section class="main-content premium_company_profile">
    <div class="container">
        <div class="main_box">
            <%- include('common/premium-company-sidebar') -%>
         </div>
        <div class="send-review-invitation">
            <form id="form_review_invitation">
            <div id="sendreviewtags">
                <input type="text" name="emails" placeholder="Add an email" />
            </div>
            <div class="custom-form">
                <label><span>Message</span></label>
                <textarea name="email_content" class="form-control mb-4"></textarea>
            </div>
            <!-- <div class="bulk-upload mb-4">
                <label for="">Bulk Upload</label>
                <input type="file" class="form-control"> 
            </div> -->
            <input type="submit" name="" id="" class="btn-default btn-warning" value="Send">
         </form>
        </div>
    </div>
</section>
<!-- ================ Section1 End ======================= -->

<%- include('common/footer') -%>

<script>
$(document).ready(function () {
   var allEmils = [];
    $('form#form_review_invitation').submit(function (e) {
      e.preventDefault();
      alert('aaaaaa')
      $(this).find('#sendreviewtags').find('span').each(function(){
         var enteredEmail = $(this).text();
         allEmils.push(enteredEmail);
      });
      console.log(allEmils);
       
      
      // Create a new FormData object from the form
      // var formElement = document.getElementById('form-create-poll');
      // const formData = new FormData(formElement);
      //const formData = new FormData($('#form_review_invitation')[0]);
      
      // const jsonResponse = $('#form_review_invitation').serializeArray();
      // const transformedResponse = {};
      // jsonResponse.forEach(item => {
      //    const { name, value } = item;
      //    transformedResponse[name] = value;
      // });
      //console.log(jsonResponse);
      //return false;

      $.ajax({
         url: '/auth/review_invitation', // URL for your API endpoint
         method: 'POST',
         data: JSON.stringify(allEmils),
         //data: formData,
         processData: false,
         //contentType: false,
         contentType: 'application/json',
         success: function (data) {
            if (data.status == 'ok') {
               
               window.location.reload();
            } else {
               
               console.log('Something went wrong');
            }
         },
         error: function (xhr, status, error) {
            // Handle any errors that occur during the request
            console.log(error);
         }
      });
   });
});
</script>